<div class="vh-100 d-flex align-items-center">
    <div class="container">
        <div class="card shadow-lg p-3 bg-body-tertiary rounded-4 border border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col border-end d-none d-lg-flex justify-content-center align-items-center">
                        <img src="assets/logo/escudoESCOM.png" class="w-50">
                    </div>
                    <div class="col d-flex flex-column justify-content-center">
                        <form class="px-0 px-lg-5">
                            <div class="d-none d-md-flex d-lg-none align-items-center justify-content-center py-3">
                                <img src="assets/logo/escudoESCOM.png" class="w-25">
                            </div>
                            <div class="d-flex align-items-center justify-content-center d-md-none py-3">
                                <img src="assets/logo/escudoESCOM.png" class="w-50">
                            </div>
                            <h3 class="my-3">Ingresar codigo</h3>

                            <div class="input-group my-5">
                                <input type="text" aria-label="otp-1" class="form-control text-center shadow-sm py-3 bg-body-tertiary rounded-2 border me-2" size="1" maxlength="1">
                                <input type="text" aria-label="otp-2" class="form-control text-center shadow-sm py-3 bg-body-tertiary rounded-2 border me-2" size="1" maxlength="1">
                                <input type="text" aria-label="otp-3" class="form-control text-center shadow-sm py-3 bg-body-tertiary rounded-2 border me-2" size="1" maxlength="1">
                                <input type="text" aria-label="otp-4" class="form-control text-center shadow-sm py-3 bg-body-tertiary rounded-2 border me-2" size="1" maxlength="1">
                                <input type="text" aria-label="otp-5" class="form-control text-center shadow-sm py-3 bg-body-tertiary rounded-2 border" size="1" maxlength="1">
                            </div>

                            <div class="d-flex align-items-center justify-content-center">
                                No recibiste tu codigo?
                                <button type="button" class="btn btn-link link-dark">Reenviar</button>
                            </div>

                            <div class="d-grid col-6 mx-auto my-2">
                                <button class="btn btn-dark" type="submit" routerLink="/complete/register">Continuar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
