<div class="modal fade" id="modalActualizar{{id}}" tabindex="-1" aria-labelledby="modalCrearLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCrearLabel">Crear trabajo terminal</h1>
                <button type="button" #closeButtonUpdate class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetView()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formularioCreado">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="identificador" class="form-control" id="floatingNumero" placeholder="Numero de trabajo">
                        <label for="floatingNumero">Numero de trabajo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="nombre" class="form-control" id="floatingInput" placeholder="Nombre del trabajo terminal">
                        <label for="floatingInput">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" formControlName="descripcion" id="floatingDescripcion" rows="3" placeholder="Descripcion"></textarea>
                        <label for="floatingDescripcion">Descripcion</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="link" id="floatingLink" placeholder="Documentos (URL)">
                        <label for="floatingLink">Documentos (URL)</label>
                    </div>

                    <select class="form-select form-select mb-3" formControlName="tipoTrabajo">
                        <option selected disabled [ngValue]="null">Estatus</option>
                        <option *ngFor="let valor of opcionesTrabajoTerminal" [ngValue]="valor.value">
                            {{ valor.desc }}
                        </option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetView()">Cerrar</button>
                <button type="button" class="btn btn-success" (click)="actualizarTrabajo()" >Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
    <div aria-atomic="true" aria-live="assertive" class="toast align-items-center text-bg-danger border-0"
         id="updateTrabajoToastError" role="alert">
        <div class="d-flex">
            <div class="toast-body">
                {{ this.message }}
            </div>
            <button aria-label="Close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    type="button"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
    <div aria-atomic="true" aria-live="assertive" class="toast align-items-center text-bg-success border-0"
         id="updateTrabajoToastSuccess" role="alert">
        <div class="d-flex">
            <div class="toast-body">
                {{ this.message }}
            </div>
            <button aria-label="Close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    type="button"></button>
        </div>
    </div>
</div>
