<div class="vh-100 d-flex align-items-center">
    <div class="container">
        <div class="card shadow-lg p-3 bg-body-tertiary rounded-4 border border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col border-end d-none d-lg-flex justify-content-center align-items-center">
                        <img class="w-50" src="assets/logo/escudoESCOM.png">
                    </div>
                    <div class="col d-flex flex-column justify-content-center">
                        <form class="px-0 px-lg-5">
                            <div class="d-none d-md-flex d-lg-none align-items-center justify-content-center py-3">
                                <img class="w-25" src="assets/logo/escudoESCOM.png">
                            </div>
                            <div class="d-flex align-items-center justify-content-center d-md-none py-3">
                                <img class="w-50" src="assets/logo/escudoESCOM.png">
                            </div>
                            <h3 class="my-3">Solicitar cambio de contraseña</h3>

                            <div class="form-floating mb-3">
                                <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control"
                                       id="floatingEmail" placeholder="alumno@alumno.ipn.mx" required
                                       type="email">
                                <label for="floatingEmail">Correo institucional</label>
                            </div>

                            <div class="d-grid col-6 mx-auto my-2">
                                <button class="btn btn-dark" routerLink="/change/password" type="submit">Solicitar
                                </button>
                            </div>

                            <hr class="mb-3">

                            <div class="d-flex gap-2 flex-column">
                                <button class="btn btn-link link-dark" routerLink="/" type="button">Regresar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
