<div class="vh-100 d-flex align-items-center">
    <div class="container">
        <div class="card shadow-lg p-3 bg-body-tertiary rounded-4 border border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col border-end d-none d-lg-flex justify-content-center align-items-center">
                        <img class="w-50" src="assets/logo/escudoESCOM.png">
                    </div>
                    <div class="col d-flex flex-column justify-content-center">
                        <form class="px-0 px-lg-5">
                            <div class="d-none d-md-flex d-lg-none align-items-center justify-content-center py-3">
                                <img class="w-25" src="assets/logo/escudoESCOM.png">
                            </div>
                            <div class="d-flex align-items-center justify-content-center d-md-none py-3">
                                <img class="w-50" src="assets/logo/escudoESCOM.png">
                            </div>
                            <h3 class="my-3">Registro</h3>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="floatingInputEmail" placeholder="name@alumno.ipn.mx"
                                       required type="email">
                                <label for="floatingInputEmail">Correo institucional</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="floatingPassword" placeholder="Contraseña"
                                       required type="password">
                                <label for="floatingPassword">Contraseña</label>
                            </div>

                            <div class="form-check green form-switch green pb-2">
                                <input [(ngModel)]="isAlumno" [ngModelOptions]="{standalone: true}" checked class="form-check-input" id="switchAlumn"
                                       role="switch" type="checkbox">
                                <label class="form-check-label" for="switchAlumn">¿Eres alumno?</label>
                            </div>

                            <div *ngIf="isAlumno" class="py-3">
                                <select aria-label="Default select example" class="form-select">
                                    <option disabled selected>Selecciona un profesor</option>
                                    <ng-template ngFor let-profesor [ngForOf]="profesores">
                                        <option [value]="profesor.id"> {{ profesor.name }} </option>
                                    </ng-template>
                                </select>
                            </div>

                            <div class="d-grid col-6 mx-auto my-2">
                                <button class="btn btn-dark" routerLink="/verify/otp" type="submit">Continuar</button>
                            </div>

                            <hr class="mb-3">

                            <div class="d-flex gap-2 flex-column">
                                <button class="btn btn-link link-dark" routerLink="/" type="button">Iniciar sesión
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
